@charset "utf-8";

/* google-font */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Kosugi&family=M+PLUS+Rounded+1c&family=Spartan:wght@500&display=swap');
/* google-font */


html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-size: 0.875rem;
  color: #273469;
  /* color dark#273469  lightegray #CDD7D6  bage #B3A394 accent #f87060*/
  background: #FFFFE0;
  position: relative;
  font-family: 'Spartan','Kosugi', sans-serif;
  letter-spacing: 0.05rem;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.inner {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}

.flex-items {
  display: flex;
}

p {
  margin:0;
}

/* ---------------
ここから個別css 
-----------------*/
/* ---------------
header
-----------------*/
#header {
  margin-bottom: 60px;
  position: relative;
  max-width: 1920px;
}

#header .mainvisual {
  opacity: 0.75;
  object-fit: cover;
  height: 100vh;
  object-position: 40% 40%;
}

#header .site-title {
  position: absolute;
  top: 7.5vh;
  z-index: 100;
  left: 10%;
  width: 600px;
  cursor: pointer;
}

#header .site-title:hover {
  opacity: 0.8;
}

#header .menu-show {
  display: block;
}

#header ul {
  position: absolute;
  top: 70vh;
  left: 11%;

}

#header li {
  padding: 30px 60px;
  color: #FFFFE0;
  background: #273469;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2);
}

#header li:hover {
  opacity: 0.9
}

#header li:first-child {
  margin-right:90px;
  background: #f87060;
  border-radius: 3%;
  cursor: pointer;
}

#header .copy {
  position: absolute;
  color: #FFFFF0;
  top: 23vh;
  left: 10%;
  font-size: 2rem;
  line-height: 1.8;
  white-space: nowrap;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}



/* ---------------
モーダル
-----------------*/
#menu-modal {
  position: fixed;
  z-index: 101;
  top: 0;
  left: -300px;
  height: 100vh;
  width: 300px;
  background: rgba(0, 0, 0, 0.6);
}

#menu-modal ul{
  padding-top: 60px;
  width: 50%;
  margin: 0 auto;
  
}

#menu-modal li {
  margin-bottom: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

#menu-modal li a {
  color: #FFFFE0;
}



.signup-modal-wrapper {
  background: #333;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 5vh;
  left:5vw;
  width: 90vw;
  height: 90vh;
  display: none;
  z-index: 999;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FFFFE0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.signup-form {
  width: 100%;
}

.signup-form h2 {
  color: #273469;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.signup-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #f87060;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

#login-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #273469;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}



.close-btn {
  display: inline-block;
  vertical-align: middle;
  color: #273469;
  line-height: 1;
  width: 2.1em;
  height: 0.3em;
  background: currentColor;
  border-radius: 0.1em;
  position: absolute;
  top: 24px;
  right: 12px;
  transform: rotate(45deg);
  cursor: pointer;
}

.white-close {
  color: #FFFFE0;
}

.close-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

/* ---------------
ハンバーガーメニュー
-----------------*/
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: none;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #f87060;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #FFFFE0;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

/* ---------------
上に戻るボタン
-----------------*/

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  line-height: 1;
  z-index: 99;
}
#page-top a {
  background: #f87060;
  text-decoration: none;
  color: #fff;
  width: 60px;
  padding: 28px 5px;
  text-align: center;
  display: block;
  border-radius: 90px;
  opacity: 0.9;
  transition: all .3s ease;
}
#page-top a:hover {
  text-decoration: none;
  opacity: .5;
}


/* ---------------
about
-----------------*/
#about {
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 30px;
  border-radius: 30px;
  box-shadow: inset 8px 8px 16px #e0e0c5,
            inset -8px -8px 16px #fffffb;
}

#about .content-title {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: solid 2.5px #f87060;
}

#about p {
  line-height: 2;
  font-size: 1.125rem;
}

/* ---------------
features
-----------------*/
#features .flex-items {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

#features .flex-items:nth-child(even) {
  flex-direction: row-reverse;
}

#features .flex-items:last-child {
  margin-bottom: 120px;
}

#features .text {
  width: 45%;
  line-height: 2;
  box-shadow: inset 8px 8px 16px #e0e0c5,
            inset -8px -8px 16px #fffffb;
  padding: 20px;
  border-radius: 20px;
}

#features .pic {
  width: 50%;
}

#features .pic img {
  border-radius: 20%;

}

#features .content-title {
  font-size: 1.25rem;
  margin-bottom: 20px;
  border-bottom: solid 2.5px #f87060;
}

#features p {
  font-size: 1.0rem;
}
/* ---------------
start-btn 
-----------------*/
.start-btn {
  text-align: center;
  margin: 0 auto;
  width: 210px;
  padding: 30px;
  background: #f87060;
  color: beige;
  margin-bottom: 30px;
  border-radius: 3%;
  cursor: pointer;
}

.start-btn:hover {
  opacity: 0.8;
}


/* ---------------
sns-btn
-----------------*/
.sns-btn {
  margin-bottom: 60px;
  justify-content: center;
}

.sns-btn div {
  margin-right: 10px;
}


/* ---------------
footer
-----------------*/
#footer {
  background:#273469;
  color: beige;
  text-align: center;
  padding-top: 60px;
  box-shadow: -2px 0 1px rgba(0, 0, 0, 0.3);
}

#footer ul {
  margin-bottom: 60px;
  margin-right: 60px;
}

#footer li {
  margin-bottom: 12px;
  text-align: left;
  white-space: nowrap;
}


/* ---------------
SP
-----------------*/


@media screen and (max-width: 1024px) {

  .menu-btn {
    display: flex;
  }

  #header .site-title {
    position: absolute;
  }
  
  #header ul {
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }

  #header .copy {
    top: 16vh;
    color: #444;
  }

  #about, #features .text {
    box-shadow: inset 8px 8px 16px #f0f0d3,
  inset -8px -8px 16px #ffffed;
  }

  #page-top {
    display: none;
  }

}

@media screen and (max-width: 767px) {

  

  /* ---------------
  モーダル
  -----------------*/

  
  
  .modal {

    width: 70vw;

  }
  
  .signup-form {
    width: 100%;
  }
  
  .signup-form h2 {
    color: #273469;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .signup-form input {
    width: 55vw;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 12px 12px;
    border: 1px solid #d0d5d8;
    border-radius: 5px;
  }
  
  #submit-btn {
    display: inline-block;
    padding: 14px 14px;
    background-color: #f87060;
    border: none;
    border-radius: 3px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
  }
  
  #login-btn {
    display: inline-block;
    padding: 14px 14px;
    background-color: #273469;
    border: none;
    border-radius: 3px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
  }
  
  

  /* -----------
  ハンバーガーメニュー
  ------------ */

  .menu-btn {
    width: 30px;
    height: 30px;
  }

  .menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 2px;
  width: 17px;
  border-radius: 3px;
  background-color: #FFFFE0;
  position: absolute;
}
.menu-btn span:before {
  bottom: 6px;
}
.menu-btn span:after {
  top: 6px;
}
  
  #features .flex-items {
    flex-direction: column-reverse;
  }

  #features .flex-items:nth-child(even) {
    flex-direction: column-reverse;
  }

  #header .site-title {
    width: 270px;
  }

  #header ul {
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    flex-direction: column;
  }

  #header li {
    width: 200px;
    margin-right: 0px;
    text-align: center;
    /* font-size: 4vw; */
  }

  #header li:first-child {
    width: 200px;
    margin-bottom: 20px;
    margin-right: 0px;
    text-align: center;
    /* font-size: 4vw; */
  }

  #header .copy {
    font-size: 1rem;
    top:17vh;
  }

  #about {
    padding-bottom:0;
    margin-bottom: 90px;
    
  }

  #about p {
    font-size: 1.05rem;
    line-height: 2.0rem;
  }

  .inner {
    width: 95%;
  }

  #features .text {
    margin-top: 30px;
    width: 100%;
    line-height: 2;
  }

  #features .content-title {
    text-align: center;
  }
  
  #features .pic {
    width: 100%;
  }

  .start-btn {
    font-size: 1.2rem;
  }

  #footer li {
    font-size: 1rem;
    white-space:normal;
  }
}